@model TommyNguyenPortfolio.Models.PasswordTable

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:white; text-shadow:1px 1px 2px black">Create A User</h1>

<h4 style="color:white; text-shadow:1px 1px 2px black">User Information</h4>
<hr />

@if (!string.IsNullOrEmpty((string)ViewData["Error"]))
{
    <div class="alert alert-danger alert-dismissible fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewData["Error"]
    </div>
}
<div class="row" style="color:white; text-shadow:1px 1px 2px black">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Username, new { @class = "required" })
                @Html.PasswordFor(model => Model.Username, new { @class = "form-control", @required = "" })
                <div class="valid-feedback">
                    Looks great!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid username.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Password, new { @class = "required" })
                @Html.PasswordFor(model => Model.Password, new { @class = "form-control", @required = "" })
                <div class="valid-feedback">
                    Looks great!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid password.
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Email, new { @class = "required" })
                @Html.PasswordFor(model => Model.Email, new { @class = "form-control", @required = "" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Recommendations" style="color:white">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
