@model TommyNguyenPortfolio.Models.RecommendationDatabase

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:white; text-shadow: 1px 1px 2px black">Create</h1>

<h4 style="color:white; text-shadow: 1px 1px 2px black">RecommendationDatabase</h4>
<hr />
<div class="row" style="color:white; text-shadow: 1px 1px 2px black">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Recommender, new { @class = "required", @style = "color:white; text-shadow:1px 1px 2px black" })
                @Html.EditorFor(model => Model.Recommender, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                <span asp-validation-for="Recommender" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.CompanyWorkedFor, new { @class = "required", @style = "color:white; text-shadow:1px 1px 2px black" })
                @Html.EditorFor(model => Model.CompanyWorkedFor, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                <span asp-validation-for="CompanyWorkedFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.RelationToStudent, new { @class = "required", @style = "color:white; text-shadow:1px 1px 2px black" })
                @Html.EditorFor(model => Model.RelationToStudent, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                <span asp-validation-for="RelationToStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Recommendation, new { @class = "required", @style = "color:white; text-shadow:1px 1px 2px black" })
                @Html.TextAreaFor(model => Model.Recommendation, new { @class = "form-control", @required = "" })
                <span asp-validation-for="Recommendation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRecommended" class="control-label"></label>
                <input asp-for="DateRecommended" class="form-control" />
                <span asp-validation-for="DateRecommended" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Recommendations" style="color: white; text-shadow: 1px 1px 2px black">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
